# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd

# Virtualenv
venv/
ENV/
env/
config

# MacOS
.DS_Store

# Logs
logs/
*.log

# Airflow
airflow.env
.env
*.db
plugins

# Docker volumes (if used)
postgres-db-volume/
